<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = "UTF-8" />
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Business Registration</h2>

        <form id="businessForm">
            <input type="text" id="businessName" placeholder="Business Name" required /> <br>
            <input type="text" id="ownerName" placeholder="Owner Name" required /><br>
            <input type="email" id="email" placeholder="Business Email" required /><br>
            <input type="tel" id="phoneNumber" placeholder="Phone Number" required /><br>
            <input type="password" id="password" placeholder="Password" required /><br>
            <input type="password" id="confirmPassword" placeholder="Confirm Password" required /><br>

            <select id="businessType" required> <br>
                <option value="">Select Business Type</option>
                <option value="Retail">Retail</option>
                <option value="Technology">Technology</option>
                <option value="Food">Food</option>
                <option value="Services">Services</option>
                <option value="Others">Others</option>
            </select>
            <br>
            <section class="terms">
                <label for="terms">
                    <input type="checkbox" id="terms" required />
                    I agree to the <a href="#">Terms and Conditions</a>
                </label>
            </section>

            <section class="newsletter">
                <label for="newsletter">
                    <input type="checkbox" id="newsletter" />
                    Subscribe to our newsletter
                </label>
            </section>

            <button type="submit">Register Business</button>
            <p class="signin">
                Already register business? 
                <a href="#">
                    Sign In
                </a>
            </p>
            
            <div class="divider">
                <span >or</span> 
            <button type="button" id="googleSignUp" href="#"><img src="{{ url_for('static', filename='google.svg') }}" class="logo" alt="Google Logo">Register with Google</button> 

        </form>

        <p id="message"></p>
        <p class="footer">© 2026 Business App. All rights reserved.</p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>